<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/smashchateau/all4by3.css' />
  </head>
  <body>
  	<div id="container">
  	</div>
  </body>
</html>
