body {
	margin: 0px;
}

a {
	color: #00B7FF;
}

@font-face {
	font-family: 'state-font';
	src: url(/fonts/StateFace-Regular.otf) format('opentype');
}

.empty-layout {}

.player-layout {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 192px 10px, 
		/* Inner border */ 192px 854px, 1728px 854px, 1728px 10px, 
		/* Title */ 
		1588px 10px, 1580px 30px, 1190px 30px, 
		1170px 60px, 750px 60px, 730px 30px, 
		340px 30px, 332px 10px, 192px 10px
	);
}

.commentator-layout {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 192px 10px, 
		/* Inner border */ 192px 854px,  
		/* Commentators */
		332px 854px, 340px 844px, 535px 844px,
		555px 804px, 1365px 804px, 1385px 844px,
		1580px 844px, 1588px 854px, 1728px 854px,
		/* Right edge */ 1728px 10px, 
		/* Title */ 
		1588px 10px, 1580px 30px, 1190px 30px, 
		1170px 60px, 750px 60px, 730px 30px, 
		340px 30px, 332px 10px, 192px 10px
	);
}

.player-commentator-layout {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 10px 150px, 
		/* Player cam */ 10px 690px, 950px 690px, 950px 150px, 960px 150px,
		/* Commentator cam */ 960px 690px, 1910px 690px, 1910px 150px, 10px 150px
	);
}

.game4by3-layout-1cam {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 10px 10px, 10px 1010px,
		/* Left name */ 30px 1030px, 450px 1030px, 470px 1070px, 480px 1070px, 
		/* Left score */ 460px 1030px, 540px 1030px, 560px 1070px, 
		/* Space */ 880px 1070px, 
		/* Right score */ 900px 1030px, 980px 1030px, 960px 1070px, 
		/* Right name */ 970px 1070px, 990px 1030px, 1410px 1030px, 1430px 1010px,
		/* Player cam */ 
		1430px 280px, 1910px 280px, 1910px 10px, 
		1440px 10px, 1440px 280px, 1430px 280px, 1430px 10px, 
		/* Tourney info */ 1290px 10px, 1270px 60px, 850px 60px, 830px 30px,
		/* Logo space */ 610px 30px,
		/* Title */ 590px 60px, 170px 60px, 150px 10px, 10px 10px
	);

}

.all4by3-layout-2cam {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 20px 20px, 20px 880px,
		/* Commentator cam */ 1900px 880px, 1900px 475px, 1200px 475px, 
		/* Cam separator */ 1200px 425px, 
		/* Player cam */ 1900px 425px, 1900px 20px, 1200px 20px, 1200px 880px, 1180px 880px,
		/* Right game edge */ 1180px 20px, 
		/* Title */ 
		1040px 20px, 1034px 36px, 830px 36px, 
		814px 60px, 386px 60px, 370px 36px, 
		166px 36px, 160px 20px, 20px 20px
	);
}

.game16by9-layout-1cam {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 192px 10px, 192px 794px,
		/* Left name */ 212px 814px, 632px 814px, 652px 854px, 662px 854px, 
		/* Left score */ 642px 814px, 722px 814px, 742px 854px, 
		/* Player cam */ 
		960px 854px, 960px 864px, 768px 864px, 768px 1070px, 
		1152px 1070px, 1152px 864px, 960px 864px, 960px 854px, 1178px 854px,
		/* Right score */ 1198px 814px, 1278px 814px, 1258px 854px, 
		/* Right name */ 1268px 854px, 1288px 814px, 1708px 814px, 1728px 794px, 
		/* Tourney info */ 1728px 10px, 1536px 10px, 1516px 60px, 1096px 60px, 1076px 30px,
		/* Logo space */ 844px 30px,
		/* Title */ 824px 60px, 404px 60px, 384px 10px, 192px 10px
	);
}

.all16by9-layout-2cam {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 10px 10px, 10px 710px,
		/* Commentator cam */ 1910px 710px, 1910px 365px, 1280px 365px, 
		/* Cam separator */ 1280px 355px, 
		/* Player cam */ 1910px 355px, 1910px 10px, 1280px 10px, 1280px 710px, 1270px 710px,
		/* Right game edge */ 1270px 10px, 
		1130px 10px, 1122px 30px, 870px 30px, 
		850px 60px, 430px 60px, 410px 30px, 
		158px 30px, 150px 10px, 10px 10px
	);
}

.container {
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 0;
	top: 0;
}

#background {
	background-image: url(http://i.imgur.com/rL7QNS0.jpg);	
}

#main-container {
	-webkit-clip-path: none;
}

/* empty-layout */

	#main-container.empty-layout .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.empty-layout .title,
	#main-container.empty-layout .tourneyInfo,
	#main-container.empty-layout .commentators,
	#main-container.empty-layout .lCharacter,
	#main-container.empty-layout .rCharacter,
	#main-container.empty-layout .lIcons,
	#main-container.empty-layout .lState, 
	#main-container.empty-layout .lPort, 	
	#main-container.empty-layout .lPlayer, 
	#main-container.empty-layout .lScore, 
	#main-container.empty-layout .rScore, 
	#main-container.empty-layout .rPlayer, 
	#main-container.empty-layout .rPort, 
	#main-container.empty-layout .rState, 
	#main-container.empty-layout .rIcons  {
		display: none;
	}

/* player-layout */

	#main-container.player-layout .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.player-layout .title {
		top: 0px;
		width: 420px;
		left: 750px;
		height: 60px;
		text-align: center;
	}

	#main-container.player-layout .tourneyInfo,
	#main-container.player-layout .commentators,
	#main-container.player-layout .lCharacter,
	#main-container.player-layout .rCharacter,
	#main-container.player-layout .lIcons,
	#main-container.player-layout .lState, 
	#main-container.player-layout .lPort, 	
	#main-container.player-layout .lPlayer, 
	#main-container.player-layout .lScore, 
	#main-container.player-layout .rScore, 
	#main-container.player-layout .rPlayer, 
	#main-container.player-layout .rPort, 
	#main-container.player-layout .rState, 
	#main-container.player-layout .rIcons  {
		display: none;
	}

/* commentator-layout */

	#main-container.commentator-layout .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.commentator-layout .title {
		top: 0px;
		width: 420px;
		left: 750px;
		height: 60px;
		text-align: center;
	}

	#main-container.commentator-layout .commentators {
		top: 814px;
		left: 555px;
		height: 60px;
		width: 810px;
		text-align: center;
	}	

	#main-container.commentator-layout .tourneyInfo,
	#main-container.commentator-layout .lCharacter,
	#main-container.commentator-layout .rCharacter,
	#main-container.commentator-layout .lIcons,
	#main-container.commentator-layout .lState, 
	#main-container.commentator-layout .lPort, 	
	#main-container.commentator-layout .lPlayer, 
	#main-container.commentator-layout .lScore, 
	#main-container.commentator-layout .rScore, 
	#main-container.commentator-layout .rPlayer, 
	#main-container.commentator-layout .rPort, 
	#main-container.commentator-layout .rState, 
	#main-container.commentator-layout .rIcons  {
		display: none;
	}

/* player-commentator-layout */

	#main-container.player-commentator-layout .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.player-commentator-layout .title {
		top: 0px;
		width: 1920px;
		left: 0px;
		height: 150px;
		font-size: 100px;
		text-align: center;
	}

	#main-container.player-commentator-layout .tourneyInfo,
	#main-container.player-commentator-layout .commentators,
	#main-container.player-commentator-layout .lCharacter,
	#main-container.player-commentator-layout .rCharacter,
	#main-container.player-commentator-layout .lIcons,
	#main-container.player-commentator-layout .lState, 
	#main-container.player-commentator-layout .lPort, 	
	#main-container.player-commentator-layout .lPlayer, 
	#main-container.player-commentator-layout .lScore, 
	#main-container.player-commentator-layout .rScore, 
	#main-container.player-commentator-layout .rPlayer, 
	#main-container.player-commentator-layout .rPort, 
	#main-container.player-commentator-layout .rState, 
	#main-container.player-commentator-layout .rIcons  {
		display: none;
	}

/* game4by3-layout-1cam */

	#main-container.game4by3-layout-1cam .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.game4by3-layout-1cam .title {
		top: 0px;
		width: 420px;
		left: 170px;
		height: 60px;
		text-align: center;
	}

	#main-container.game4by3-layout-1cam .tourneyInfo {
		top: 0px;
		width: 420px;
		left: 850px;
		height: 60px;
		text-align: center;
	}

	#main-container.game4by3-layout-1cam .commentators {
		display: none;
	}

	#main-container.game4by3-layout-1cam .lCharacter,
	#main-container.game4by3-layout-1cam .rCharacter  {
		zoom: 175%;
	}

	#main-container.game4by3-layout-1cam .lIcons {
		top: 1040px;
		height: 50px;
		left: 30px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

	#main-container.game4by3-layout-1cam .lState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: 40px;
		font-size: 36px;
	}

	#main-container.game4by3-layout-1cam .lPort {
		position: absolute;
		opacity: 0.3;
		width: 320px;
		height: 30px;
		bottom: 10px;
		left: 130px;
		-webkit-transform: skew(26.5deg);
	}	

	#main-container.game4by3-layout-1cam .lPlayer {
		top: 1030px;
		left: 140px;
		height: 50px;
		width: 300px;
		text-align: center;
	}

	#main-container.game4by3-layout-1cam .lScore {
		top: 1030px;
		height: 60px;
		left: 480px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#main-container.game4by3-layout-1cam .rScore {
		top: 1030px;
		height: 60px;
		left: 900px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#main-container.game4by3-layout-1cam .rPlayer {
		top: 1030px;
		height: 50px;
		left: 990px;
		width: 300px;
		text-align: center;
	}	

	#main-container.game4by3-layout-1cam .rPort {
		position: absolute;
		opacity: 0.3;
		width: 320px;
		height: 30px;
		bottom: 10px;
		left: 990px;
		-webkit-transform: skew(-26.5deg);
	}

	#main-container.game4by3-layout-1cam .rState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: -40px;
		font-size: 36px;
	}

	#main-container.game4by3-layout-1cam .rIcons {
		top: 1040px;
		height: 50px;
		left: 1370px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

/* all4by3-layout-2cam */

	#main-container.all4by3-layout-2cam .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.all4by3-layout-2cam .title {
		top: 0px;
		width: 420px;
		left: 390px;
		height: 60px;
		text-align: center;
	}

	#main-container.all4by3-layout-2cam .tourneyInfo,
	#main-container.all4by3-layout-2cam .commentators,
	#main-container.all4by3-layout-2cam .lCharacter,
	#main-container.all4by3-layout-2cam .rCharacter,
	#main-container.all4by3-layout-2cam .lIcons,
	#main-container.all4by3-layout-2cam .lState, 
	#main-container.all4by3-layout-2cam .lPort, 	
	#main-container.all4by3-layout-2cam .lPlayer, 
	#main-container.all4by3-layout-2cam .lScore, 
	#main-container.all4by3-layout-2cam .rScore, 
	#main-container.all4by3-layout-2cam .rPlayer, 
	#main-container.all4by3-layout-2cam .rPort, 
	#main-container.all4by3-layout-2cam .rState, 
	#main-container.all4by3-layout-2cam .rIcons  {
		display: none;
	}

/* game16by9-layout-1cam */

	#main-container.game16by9-layout-1cam .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.game16by9-layout-1cam .title {
		top: 0px;
		width: 420px;
		left: 404px;
		height: 60px;
		text-align: center;
	}

	#main-container.game16by9-layout-1cam .tourneyInfo {
		top: 0px;
		width: 420px;
		left: 1096px;
		height: 60px;
		text-align: center;
	}

	#main-container.game16by9-layout-1cam .commentators {
		display: none;
	}

	#main-container.game16by9-layout-1cam .lCharacter,
	#main-container.game16by9-layout-1cam .rCharacter  {
		zoom: 175%;
	}

	#main-container.game16by9-layout-1cam .lIcons {
		top: 824px;
		height: 50px;
		left: 212px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

	#main-container.game16by9-layout-1cam .lState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: 40px;
		font-size: 36px;
	}

	#main-container.game16by9-layout-1cam .lPort {
		position: absolute;
		opacity: 0.3;
		width: 320px;
		height: 30px;
		bottom: 226px;
		left: 312px;
		-webkit-transform: skew(26.5deg);
	}	

	#main-container.game16by9-layout-1cam .lPlayer {
		top: 814px;
		left: 322px;
		height: 50px;
		width: 300px;
		text-align: center;
	}

	#main-container.game16by9-layout-1cam .lScore {
		top: 814px;
		height: 60px;
		left: 662px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#main-container.game16by9-layout-1cam .rScore {
		top: 814px;
		height: 60px;
		left: 1198px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#main-container.game16by9-layout-1cam .rPlayer {
		top: 814px;
		height: 50px;
		left: 1288px;
		width: 300px;
		text-align: center;
	}	

	#main-container.game16by9-layout-1cam .rPort {
		position: absolute;
		opacity: 0.3;
		width: 320px;
		height: 30px;
		bottom: 226px;
		left: 1288px;
		-webkit-transform: skew(-26.5deg);
	}

	#main-container.game16by9-layout-1cam .rState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: -40px;
		font-size: 36px;
	}

	#main-container.game16by9-layout-1cam .rIcons {
		top: 824px;
		height: 50px;
		left: 1668px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

/* all16by9-layout-2cam */

	#main-container.all16by9-layout-2cam .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#main-container.all16by9-layout-2cam .title {
		top: 0px;
		width: 420px;
		left: 430px;
		height: 60px;
		text-align: center;
	}

	#main-container.all16by9-layout-2cam .tourneyInfo,
	#main-container.all16by9-layout-2cam .commentators,
	#main-container.all16by9-layout-2cam .lCharacter,
	#main-container.all16by9-layout-2cam .rCharacter,
	#main-container.all16by9-layout-2cam .lIcons,
	#main-container.all16by9-layout-2cam .lState, 
	#main-container.all16by9-layout-2cam .lPort, 	
	#main-container.all16by9-layout-2cam .lPlayer, 
	#main-container.all16by9-layout-2cam .lScore, 
	#main-container.all16by9-layout-2cam .rScore, 
	#main-container.all16by9-layout-2cam .rPlayer, 
	#main-container.all16by9-layout-2cam .rPort, 
	#main-container.all16by9-layout-2cam .rState, 
	#main-container.all16by9-layout-2cam .rIcons  {
		display: none;
	}


	 

	