body {
	margin: 0px;
}

a {
	color: #00B7FF;
}

@font-face {
	font-family: 'state-font';
	src: url(/fonts/StateFace-Regular.otf) format('opentype');
}

.game4by3-layout-1cam {
	-webkit-clip-path: polygon(
		/* Outer border */
		0px 0px, 1920px 0px, 1920px 1080px, 0px 1080px, 0px 0px, 10px 10px, 10px 1010px,
		/* Left name */ 30px 1030px, 450px 1030px, 470px 1070px, 480px 1070px, 
		/* Left score */ 460px 1030px, 540px 1030px, 560px 1070px, 
		/* Space */ 880px 1070px, 
		/* Right score */ 900px 1030px, 980px 1030px, 960px 1070px, 
		/* Right name */ 970px 1070px, 990px 1030px, 1410px 1030px, 1430px 1010px,
		/* Player cam */ 
		1430px 280px, 1890px 280px, 1910px 260px, 1910px 10px, 
		1440px 10px, 1440px 280px, 1430px 280px, 1430px 10px, 
		/* Tourney info */ 1290px 10px, 1270px 60px, 850px 60px, 830px 10px,
		/* Logo space */ 610px 10px,
		/* Title */ 590px 60px, 170px 60px, 150px 10px, 10px 10px
	);

}

.game4by3-layout-2cam {

}

.all4by3-layout {

}

.container {
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 0;
	top: 0;
}

/* STYLE FOR game4by3 LAYOUT */

	#game4by3-container .playerText {
		position: absolute;
		color: white;
		font-size: 42px;
		font-family: 'Oswald', cursive;
		text-shadow: 2px 2px 2px rgb(50, 50, 50);

		/* Oswald sits a little low, so raise the baseline */
		margin-top: -5px;

		overflow: hidden;
		overflow-wrap: break-word;
	}

	#game4by3-container .title {
		top: 0px;
		width: 420px;
		left: 170px;
		height: 60px;
		text-align: center;
	}

	#game4by3-container .tourneyInfo {
		top: 0px;
		width: 420px;
		left: 850px;
		height: 60px;
		text-align: center;
	}

	#game4by3-container .lCharacter,
	#game4by3-container .rCharacter  {
		zoom: 175%;
	}

	#game4by3-container .lIcons {
		top: 1040px;
		height: 50px;
		left: 30px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

	#game4by3-container .lState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: 40px;
		font-size: 36px;
	}

	#game4by3-container .lPort {
		position: absolute;
		opacity: 0.3;
		bottom: 0px;
		width: 320px;
		height: 30px;
		bottom: 10px;
		left: 130px;
		-webkit-transform: skew(26.5deg);
	}	

	#game4by3-container .lPlayer {
		top: 1030px;
		left: 140px;
		height: 50px;
		width: 300px;
		text-align: center;
	}

	#game4by3-container .lScore {
		top: 1030px;
		height: 60px;
		left: 480px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#game4by3-container .rScore {
		top: 1030px;
		height: 60px;
		left: 900px;
		width: 60px;
		font-size: 38px;
		text-align: center;
	}

	#game4by3-container .rPlayer {
		top: 1030px;
		height: 50px;
		left: 990px;
		width: 300px;
		text-align: center;
	}	

	#game4by3-container .rPort {
		position: absolute;
		opacity: 0.3;
		width: 320px;
		height: 30px;
		bottom: 10px;
		left: 990px;
		-webkit-transform: skew(-26.5deg);
	}

	#game4by3-container .rState {
		font-family: 'state-font';
		color: white;
		position: absolute;
		bottom: -20px;
		left: -40px;
		font-size: 36px;
	}

	#game4by3-container .rIcons {
		top: 1040px;
		height: 50px;
		left: 1370px;
		width: 32px;
		text-align: center;
		position: absolute;
	}

	