@import 'empty-layout.css';
@import 'player-layout.css';
@import 'commentator-layout.css';
@import 'player-commentator-layout.css';
@import 'game4by3-layout-1cam.css';
@import 'all4by3-layout-2cam.css';
@import 'game16by9-layout-1cam.css';
@import 'all16by9-layout-2cam.css';

body {
    margin: 0px;
}

a {
    color: #00B7FF;
}

@font-face {
    font-family: 'state-font';
    src: url(/fonts/StateFace-Regular.otf) format('opentype');
}

.container {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0;
    top: 0;
}

#main-container {
    -webkit-clip-path: none;
}

#background {
    background-image: url(http://i.imgur.com/rL7QNS0.jpg);  
}
  