<style>
	a { margin-right: 10px;}
</style>

<h1>{{title}}</h1>
<p>Welcome to {{title}}. Check out the links below to view all current pages.</p>

<h2><a href="/overlays/admin">Admin Page</a></h2>
<h2><a href="/overlays/scores">Scores</a></h2>
<h2><a href="/overlays/commentators">Commentators</a></h2>
<h2><a href="/overlays/twitter">Twitter</a></h2>
<h2><a href="/overlays/idle">Idle</a></h2>
<h2><a href="/overlays/bracket">Bracket</a></h2>
<h2><a href="/overlays/readyStatus">Ready Status</a></h2>

<h2>Pardon the Smash</h2>
<a href="overlays/pardonthesmash/admin">admin</a>
<a href="overlays/pardonthesmash">overlay</a>

<h2>The Velvet Arcade</h2>
<a href="overlays/arcade/admin">admin</a>
<a href="overlays/arcade">overlay</a>
<a href="overlays/pardonthesmash/guest">guest</a>

<h2>Smash Chateau</h2>
<a href="overlays/smashchateau/game4by3">game4by3</a>
<a href="overlays/smashchateau/all4by3">all4by3</a>

<h2>Grime Time</h2>
<a href="overlays/grimetime/game4by3">game4by3</a>
<a href="overlays/grimetime/all4by3">all4by3</a>
<a href="overlays/grimetime/game16by9">game16by9</a>

<h2>UMSK</h2>
<a href="overlays/umsk/game4by3">game4by3</a>
<a href="overlays/umsk/all4by3">all4by3</a>
<a href="overlays/umsk/game16by9">game16by9</a>
<a href="overlays/umsk/all16by9">all16by9</a>

<h2>Roll Tier V</h2>
<a href="overlays/rolltierv/game4by3">game4by3</a>
<a href="overlays/rolltierv/all4by3">all4by3</a>

<h2>Roll Tier V</h2>
<a href="overlays/springshowdown/game4by3">game4by3</a>
<a href="overlays/springshowdown/all4by3">all4by3</a>