<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/overlays/characters.css' />
    {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
