body {
	margin: 0px;
}

a {
	color: #00B7FF;
}

#container {
	width: 1920px;
	height: 1080px;
	background: url(https://i.imgur.com/Di2RRSs.png);
	position: relative;
}

.playertext {
	position: absolute;
	color: white;
	font-size: 42px;
	font-family: 'Audiowide', cursive;
	text-shadow: 2px 2px 2px rgb(62, 119, 131);

	/* audiowide sits a little low, so raise the baseline */
	margin-top: -2px;

	overflow: hidden;
	overflow-wrap: break-word;
}

#lplayer {
	top: 1031px;
	left: 133px;
	height: 49px;
	width: 429px;
	text-align: center;
}

#lscore {
	top: 1031px;
	height: 49px;
	left: 83px;
	width: 50px;
	text-align: center;
}

#licons {
	top: 1042px;
	height: 49px;
	left: 530px;
	width: 32px;
	text-align: center;
	position: absolute;
}

#rplayer {
	top: 1031px;
	height: 49px;
	left: 875px;
	width: 429px;
	text-align: center;
}

#rscore {
	top: 1031px;
	height: 49px;
	left: 1304px;
	width: 50px;
	text-align: center;
}

#ricons {
	top: 1042px;
	height: 49px;
	left: 875px;
	width: 32px;
	text-align: center;
	position: absolute;
}

#title {
	top: 0px;
	width: 954px;
	left: 243px;
	height: 49px;
	text-align: center;
}

#leftPort {
	position: absolute;
	opacity: 0.3;
	width: 482px;
	height: 50px;
	bottom: 0px;
	left: 80px;
}

#rightPort {
	position: absolute;
	opacity: 0.3;
	width: 482px;
	height: 50px;
	bottom: 0px;
	left: 875px;
}