.tab-view {
  .tab-links {
    .tab-link {
      cursor: pointer;
      
      &.active {
        background-color: lightpink;
      }
    }
  }
  
  .tabs {
    .tab {
      display: none;
      
      &.active {
        display: block;
      }
    }
  }
}