<h1>{{title}}</h1>
<form action="javascript:sendUpdate()">
	<p>
		<label for="lplayer">
			Left player:
			<input id="lplayer"></input>
		</label>
		<label for="lscore">
			Left score:
			<input type="number" id="lscore"></input>
		</label>
		<button type="button" onclick="plusOneLeft()">+1</button>
	</p>
	<p>
		<label for="rplayer">
			Right player:
			<input id="rplayer"></input>
		</label>
		<label for="rscore">
			Right score:
			<input type="number" id="rscore"></input>
		</label>
		<button type="button" onclick="plusOneRight()">+1</button>
	</p>
	<p>
		<label for="title">
			Title
			<input id="title"></input>
		</label>
	</p>
	<p>
		<label for="commentators">
			Commentators
			<input id="commentators"></input>
		</label>
	</p>
	<p>
	<button type="button" onclick="toggleNightMode()">Toggle Night Mode</button>
	<button type="button" onclick="swapNames()">Swap Names</button>
	<button type="button" onclick="zeroScores()">Zero Scores</button>
	<input type="submit"/>
	<div id="info" style="display:none;">Overlay Updated!</div>
	</p>
</form>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io('/overlay');
	socket.on('connect', function() {
		socket.emit('request overlay');
		//socket.emit('join', { room: 'overlay' });
	});

	socket.on('update overlay', function(data) {
		document.getElementById('lplayer').value = data.lplayer || "";
		document.getElementById('rplayer').value = data.rplayer || "";
		document.getElementById('title').value = data.title || "";
		document.getElementById('commentators').value = data.commentators || "";
		document.getElementById('lscore').value = data.lscore || 0;
		document.getElementById('rscore').value = data.rscore || 0;
	});

	function plusOneLeft() {
		var numVal = parseInt(document.getElementById('lscore').value);
		document.getElementById('lscore').value = numVal + 1;
		sendUpdate();
	}

	function plusOneRight() {
		var numVal = parseInt(document.getElementById('rscore').value);
		document.getElementById('rscore').value = numVal + 1;
		sendUpdate();
	}

	function swapNames() {
		var tempPlayer = document.getElementById('lplayer').value;
		document.getElementById('lplayer').value = document.getElementById('rplayer').value;
		document.getElementById('rplayer').value = tempPlayer;
		sendUpdate();
	}

	function zeroScores() {
		document.getElementById('lscore').value = 0;
		document.getElementById('rscore').value = 0;
		sendUpdate();
	}

	function sendUpdate() {
		var data = {
			'lplayer': document.getElementById('lplayer').value,
			'rplayer': document.getElementById('rplayer').value,
			'title': document.getElementById('title').value,
			'lscore': document.getElementById('lscore').value,
			'rscore': document.getElementById('rscore').value,
			'commentators': document.getElementById('commentators').value,
		};
		socket.emit('update overlay', data);
		// TODO: figure out how to make this an acknowledgment callback
		var info = $('#info');
		info.show();
		info.fadeOut(1200);
	}

	function toggleNightMode() {
		var body = document.body;
		var style = window.getComputedStyle(body);
		var color = style.getPropertyValue('background');
		if(body.style.background == 'black') {
			body.style.color = 'black';
			body.style.background = 'white';
			return;
		}
		
		body.style.color = 'white';
		body.style.background = 'black';
	}
</script>