<h1>{{title}}</h1>
<div id="info" style="display:none;">Overlay Updated!</div>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Main</a></li>
        <li><a href="#tab2">Twitch</a></li>
        <li><a href="#tab3">Challonge</a></li>
        <li><a href="#tab4">Layout</a></li>
        <li><a href="#tab5">Users</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <form action="javascript:sendUpdate()">
                <p>
                    <label for="current-game">
                        Current Game
                        <input id="current-game"></input>
                    </label>
                    <input id="ready-radio-false" type="radio" name="readyStatus" value="false" onchange="sendUpdate()" checked>
                  Not Ready
                  <input id="ready-radio-true" type="radio" name="readyStatus" value="true" onchange="sendUpdate()">
                  Ready
                </p>
                <p>
                    <label for="title">
                        Tournament Name
                        <input id="title"></input>
                    </label>

                    <label for="tourneyInfo">
                        Bracket Info
                        <input id="tourneyInfo"></input>
                    </label>                 
                </p>
                <p>
                    <label for="commentators">
                        L Commentator
                        <input id="commentators"></input>
                    </label>
                    
                    <label for="commentators2">
                        R Commentator
                        <input id="commentators2"></input>
                    </label>
                </p>
                <p>
                    <label for="twitter">
                        L Twitter
                        <input id="twitter"></input>
                    </label>
                    
                    <label for="twitter2">
                        R Twitter
                        <input id="twitter2"></input>
                    </label>
                </p>
                <div id="announcement">
                    <label>Announcement</label>
                    <textarea id="announcement-text"></textarea>
                    <button id="announcement-btn" onclick="fireAnnouncement()">Fire announcement</button>
                </div> 
                <div>
                    <table border="2">
                        <tr>
                            <td>
                            <label for="lplayer">
                                Left player:
                                <input id="lplayer"></input>
                            </label>
                            </td>
                            <td>
                                <label for="rplayer">
                                    Right player:
                                    <input id="rplayer"></input>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lscore">
                                    Left score:
                                    <input type="number" id="lscore"></input>
                                </label>
                                <button type="button" class="expand" onclick="plusOneLeft()">+1</button>
                                <button type="button" class="expand" onclick="minusOneLeft()">-1</button>
                            </td>
                            <td>
                                <label for="rscore">
                                    Right score:
                                    <input type="number" id="rscore"></input>
                                </label>
                                <button type="button" class="expand" onclick="plusOneRight()">+1</button>
                                <button type="button" class="expand" onclick="minusOneRight()">-1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Left Port:</label>
                                <p id="portLeftPlaceholder"></p>
                            </td>
                            <td>
                                <label>Right Port:</label>
                                <p id="portRightPlaceholder"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Left Character:</label>
                                <p id="charListLeftPlaceholder"></p>
                            </td>
                            <td>
                                <label>Right Character:</label>
                                <p id="charListRightPlaceholder"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Left Home State:</label>
                                <p id="stateLeftPlaceholder"></p>
                            </td>
                            <td>
                                <label>Right Home State:</label>
                                <p id="stateRightPlaceholder"></p>
                            </td>
                        </tr>
                    </table>
                    <table border="2" class="btnTable">
                        <tr>
                            <td>
                                <h3>Overlay</h3>
                            </td>
                            <td>
                                <button type="button" onclick="swapNames()">Swap Names</button>
                                <button type="button" onclick="swapAll()">Swap All</button>
                                <button type="button" onclick="zeroScores()">Zero Scores</button>                                    
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Match Intro</h3>
                            </td>
                            <td>
                                <button type="button" onclick="playMatchIntro('reset')">Reset</button>
                                <button type="button" onclick="playMatchIntro('transition')">Play</button>                                    
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Misc.</h3>
                            </td>
                            <td>
                                <button type="button" onclick="toggleNightMode()">Toggle Night Mode</button>         
                                <button type="button" id="flash-ready-button">Flash Ready Screen</button>                                   
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Update Overlay</h3>
                            </td>
                            <td>
                                <input type="submit"/>
                                <button type="button" onclick="fireTransition()">Fire Transition</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>

        <div id="tab2" class="tab">
            <!--Twitch Form-->
            <form action="javascript:sendTwitchUpdate()">
                <h2>Twitch</h2>
                <div id='twitch-chat-placeholder' class="requires-twitch hide-by-default"></div>
                <p>
                    <label for="twitchUsername">
                        Twitch username:
                        <input id="twitchUsername"></input>
                    </label>
                </p>
                <p class="requires-twitch hide-by-default">
                    <label for="twitchStatus">
                        Status:
                        <input id="twitchStatus" style="width: 90%"></input>
                    </label>
                </p>
                <p class="requires-twitch hide-by-default">
                    <label for="twitchGame">
                        Playing:
                        <input id="twitchGame"></input>
                    </label>
                </p>
                <p class="requires-twitch hide-by-default">
                <label for="twitchViewers">
                    Current Viewers:
                    <input id="twitchViewers" class="twitch-pollable"></input>
                </label>
                <label for="twitchPeakViewers hide-by-default">
                    Peak Viewers:
                    <input id="twitchPeakViewers" class="twitch-pollable"></input>
                </label>
                </p>
                <p class="requires-twitch hide-by-default">
                <label for="twitchFollowers">
                    Followers:
                    <input id="twitchFollowers" class="twitch-pollable"></input>
                </label>
                <label for="twitchLastFollower">
                    Most Recent:
                    <input id="twitchLastFollower" class="twitch-pollable"></input>
                </label>
                </p>
                <p>
                <input type="submit"/>
                </p>
            </form>
            <button id="twitch-log-out">Log Out</button>
            <button id="twitch-reset">Reset Peak Viewers</button>
            <button id="twitch-process-followers">Process Follower Queue</button>
        </div>

        <div id="tab3" class="tab">
            <!--Challonge Form-->
            <form action="javascript:sendChallongeUpdate()">
                <h2>Challonge</h2>
                <p>
                    <label for="challongeUrl">
                        Challonge URL:
                        <input id="challongeUrl"></input>
                    </label>

                    <label for="challongeApiHash">
                        Challonge Api Hash:
                        <input id="challongeApiHash"></input>
                    </label>
                </p>
                <p id="challongeMatchListPlaceholder"></p>
                <p id="challongeEmbedPlaceholder"></p>
                <p>
                <input type="submit"/>
                </p>
            </form>
            <button id="challonge-clear-bracket">Clear Bracket</button>
        </div>
        <div id="tab4" class="tab">
            <!--Layout Form-->
            <form action="javascript:changeLayout()">
                <h2>Layout</h2>
                <p>
                    <label for="layout-background">Background URL:</label>
                    <input id="layout-background" style="width:200px;"></input>
                </p>      
                <h3>General</h3>
                <p>
                    <button class="layoutButton" type="button"
                            value="player-layout">Players</button>
                    <button class="layoutButton" type="button"
                            value="commentator-layout">Commentators</button>
                    <button class="layoutButton" type="button"
                            value="player-commentator-layout">Players/Commentators</button>
                    <button class="layoutButton" type="button"
                            value="empty-layout">Empty Layout</button>
                </p>
                <h3>4 by 3</h3>
                <p>
                    <button class="layoutButton" type="button"
                            value="game4by3-layout-1cam">Game 1 Cam</button>
                    <button class="layoutButton" type="button"
                            value="all4by3-layout-2cam">All 2 Cams</button>
                </p>
                <h3>16 by 9</h3>
                <p>
                    <button class="layoutButton" type="button"
                            value="game16by9-layout-1cam">Game 1 Cam</button>
                    <button class="layoutButton" type="button"
                            value="game16by9-layout-full">Game Full</button>
                    <button class="layoutButton" type="button"
                            value="all16by9-layout-2cam">All 2 Cams</button>
                </p>
                <p>
                    <input type="submit"/>
                </p>
            </form>
            <form action="javascript:obsConnect()">
                <h2>OBS Remote Login</h2>
                <p>
                    <label for="obs-address">Address:</label>
                    <input id="obs-address" placeholder="localhost:4444"></input>
                </p>
                <p>
                    <label for="obs-password">Password:</label>
                    <input id="obs-password" type="password"></input>
                </p>
                <p>
                    <input type="submit" value="Connect"></input>
                </p>
            </form>                
        </div>

        <div id="tab5" class="tab">
            <div id="users-create">
                <h2>Create User</h2>
                <div class="user-field">
                    <label for="userFirstName">
                        First Name
                        <input id="user-first-name"></input>
                    </label>
                </div>
                
                <div class="user-field">
                    <label for="userLastName">
                        Last Name
                        <input id="user-last-name"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userGamertag">
                        Gamertag
                        <input id="user-gamertag"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userClan">
                        Clan Prefix String
                        <input id="user-clan"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userTwitter">
                        Twitter Handle
                        <input id="user-twitter"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userCity">
                        City
                        <input id="user-city"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userState">
                        State
                        <input id="user-state"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userFacts">
                        Facts (Comma separated)
                        <input id="user-facts"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userCharacters">
                        Main Characters (Comma separated)
                        <input id="user-characters"></input>
                    </label>
                </div>

                <button id="create-user-btn" type="button" onclick="javascript:addUser()">Create User</button>

            </div> 

            <h2>Edit User</h2>
            <p id="user-list-target"></p>
            <div id="users-edit" style="display: none;">
                
                <div id='edit-user-form'>

                <div class="user-field">
                    <label for="userId">
                        UserId (Read Only)
                        <input id="edit-user-id" disabled="true"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userFirstName">
                        First Name
                        <input id="edit-user-first-name"></input>
                    </label>
                </div>
                
                <div class="user-field">
                    <label for="userLastName">
                        Last Name
                        <input id="edit-user-last-name"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userGamertag">
                        Gamertag
                        <input id="edit-user-gamertag"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userClan">
                        Clan Prefix String
                        <input id="edit-user-clan"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userTwitter">
                        Twitter Handle
                        <input id="edit-user-twitter"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userCity">
                        City
                        <input id="edit-user-city"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userState">
                        State
                        <input id="edit-user-state"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userFacts">
                        Facts (Comma separated)
                        <input id="edit-user-facts"></input>
                    </label>
                </div>

                <div class="user-field">
                    <label for="userCharacters">
                        Main Characters (Comma separated)
                        <input id="edit-user-characters"></input>
                    </label>
                </div>

                <button id="update-user-btn" type="button" onclick="javascript:updateUser()">Update User</button>
                <button id="delete-user-btn" type="button" onclick="javascript:deleteUser()">Delete User</button>
                </div>
            </div>           
        </div>
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/overlays/admin.css' />
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
<script src="/javascripts/remote/obs-remote.min.js"></script>
<script src="/javascripts/remote/obs-setup.js"></script>
<script src="/javascripts/overlays/admin.js"></script>