<h1>{{title}}</h1>
<div id="info" style="display:none;">Overlay Updated!</div>
<form action="javascript:sendUpdate()">
	<p>
		<label for="title">
			Title
			<input id="title"></input>
		</label>
	</p>

	<p>
		<label for="commentators">
			Commentators
			<input id="commentators"></input>
		</label>
		
		<label for="twitter">
			Twitter Handles
			<input id="twitter"></input>
		</label>
	</p>
	<table border="2">
		<tr>
			<td>
			<label for="lplayer">
				Left player:
				<input id="lplayer"></input>
			</label>
			</td>
			<td>
				<label for="rplayer">
					Right player:
					<input id="rplayer"></input>
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label for="lscore">
					Left score:
					<input type="number" id="lscore"></input>
				</label>
				<button type="button" onclick="plusOneLeft()">+1</button>
			</td>
			<td>
				<label for="rscore">
					Right score:
					<input type="number" id="rscore"></input>
				</label>
				<button type="button" onclick="plusOneRight()">+1</button>
			</td>
		</tr>
		<tr>
			<td>
				<label>Left Character:</label>
				<p id="charListLeftPlaceholder"></p>
			</td>
			<td>
				<label>Right Character:</label>
				<p id="charListRightPlaceholder"></p>
			</td>
		</tr>
	</table>
	<p>
	<button type="button" onclick="toggleNightMode()">Toggle Night Mode</button>
	<button type="button" onclick="swapNames()">Swap Names</button>
	<button type="button" onclick="zeroScores()">Zero Scores</button>
	<input type="submit"/>
	</p>
</form>

<!--Twitch Form-->
<form action="javascript:sendTwitchUpdate()">
	<h2>Twitch</h2>
	<p>
		<label for="twitchUsername">
			Twitch username:
			<input id="twitchUsername"></input>
		</label>
	</p>
	<p class="requires-twitch hide-by-default">
		<label for="twitchStatus">
			Status:
			<input id="twitchStatus" style="width: 90%"></input>
		</label>
	</p>
	<p class="requires-twitch hide-by-default">
		<label for="twitchGame">
			Playing:
			<input id="twitchGame"></input>
		</label>
	</p>
	<p class="requires-twitch hide-by-default">
	<label for="twitchViewers">
		Current Viewers:
		<input id="twitchViewers" class="twitch-pollable"></input>
	</label>
	<label for="twitchPeakViewers hide-by-default">
		Peak Viewers:
		<input id="twitchPeakViewers" class="twitch-pollable"></input>
	</label>
	</p>
	<p class="requires-twitch hide-by-default">
	<label for="twitchFollowers">
		Followers:
		<input id="twitchFollowers" class="twitch-pollable"></input>
	</label>
	<label for="twitchLastFollower">
		Most Recent:
		<input id="twitchLastFollower" class="twitch-pollable"></input>
	</label>
	</p>
	<p>
	<input type="submit"/>
	</p>
</form>

<!--Challonge Form-->
<form action="javascript:sendChallongeUpdate()">
	<h2>Challonge</h2>
	<p>
		<label for="challongeUrl">
			Challonge URL:
			<input id="challongeUrl"></input>
		</label>
	</p>
	<p id="challongeMatchListPlaceholder"></p>
	<p id="challongeEmbedPlaceholder"></p>
	<p>
	<input type="submit"/>
	</p>
</form>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/overlays/admin.js"></script>