<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <script>
    var socket = io('/challonge');
    var embedString = '/module?multiplier=0.8&theme=2&match_width_multiplier=0.8';

    socket.on('update challonge', function(data) {
      var url = data.challongeUrl || '';
      if(url) {
        var ifrm = document.createElement('iframe'); 
        ifrm.setAttribute('src', url+embedString); 
        ifrm.style.width = '1920px'; 
        ifrm.style.height = '1080px'; 
        document.body.appendChild(ifrm); 
      }
    });
    </script>
  </body>
</html>
