<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/idle.css' />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--TODO global-->
    <script src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/overlays/global-source.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <!--TODO global-->
    <img src="http://i.imgur.com/qkL0ngP.png" id="transition-image" style="display: none;">
  	<div id="container">
  		<div id="fact-div"></div>
  	</div>
    <script>
    var facts = [];

		$.ajax({ 
      url: '/resources/tvr.json', 
      type: 'get',  
      complete: function(data){ 
        facts = data.responseJSON;
        console.log(facts);
        cycleFacts();
      }
    });

    function cycleFacts() {
      i = 0;
      isTag=false;
      str = '<p>'+facts[Math.floor((Math.random() * facts.length-1) + 1)]+'</p>';
      type();
      setTimeout(cycleFacts, 20000);
    }

    //https://stackoverflow.com/questions/22180457/typewriter-effect-for-html-with-javascript
    var i = 0;
    var str;
    var isTag;
    var text;
    function type() {
        text = str.slice(0, ++i);
        if (text === str) return;
        document.getElementById('fact-div').innerHTML = text;
        var char = text.slice(-1);
        if( char === '<' ) isTag = true;
        if( char === '>' ) isTag = false;
        if (isTag) return type();
        setTimeout(type, 80);
    }

    var socket = io('/overlay');
    //TODO global
    var transitioning = false;
    function transition() {
      if(!transitioning) {
        transitioning = true;
         //Slide in first
         $('#transition-image').effect('slide', {}, 1000, function() {
          //Wait 2 seconds
          setTimeout(function() {
            //Blind out of view
            $('#transition-image').effect('fold', {}, 1000, function() {
              transitioning=false;
            });
          }, 2500);           
         });
      }
    }

    socket.on('fire transition', function() {
      transition();
    });
    </script>
  </body>
</html>
