<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/matchIntro.css' />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
  	<div id="container">
  	</div>

  	<script type="text/javascript">
  	var charImageDict = {
  		'bowser':'http://i.imgur.com/33mnA2Z.png',
	  	'bowser-jr':'http://i.imgur.com/utEfXhv.png',
	  	'captain-falcon':'http://i.imgur.com/VnFfZpr.png',
	  	'charizard':'http://i.imgur.com/8kwiHWb.png',
	  	'dark-pit':'http://i.imgur.com/3ysRfec.png',
	  	'king-dedede':'http://i.imgur.com/uBTmrmm.png',
		'diddy-kong':'http://i.imgur.com/LFFmRbh.png',
		'donkey-kong':'http://i.imgur.com/v9lQZp3.png',
		'dr-mario':'http://i.imgur.com/cA0i15d.png',
		'duck-hunt-dog':'http://i.imgur.com/KyA0bd9.png',
		'falco':'http://i.imgur.com/mrm67Km.png',
		'fox':'http://i.imgur.com/QLAlYLe.png',
		'ganondorf':'http://i.imgur.com/ikXkjzG.png',
		'mr-game-and-watch':'http://i.imgur.com/9HkP2As.png',
		'greninja':'http://i.imgur.com/67HjDjf.png',
		'ice-climbers',
		'ike':'http://i.imgur.com/C5Iy1FA.png',
		'ivysaur',
		'jigglypuff':'http://i.imgur.com/07bIHUQ.png',
		'kirby':'http://i.imgur.com/uTbJKiX.png',
		'link':'http://i.imgur.com/aBLV6AT.png',
		'little-mac':'http://i.imgur.com/4CCrBIW.png',
		'lucario':'http://i.imgur.com/vjf39o3.png', 
		'lucas',
		'lucina':'http://i.imgur.com/77uMLO3.png',
		'luigi':'http://i.imgur.com/zWPNj42.png',
		'mario':'http://i.imgur.com/G3D9Vor.png',
		'marth':'http://i.imgur.com/IKq3QVI.png',
		'megaman':'http://i.imgur.com/YT9FqNW.png',
		'metaknight':'http://i.imgur.com/sVKxeAN.png',
		'mewtwo',
		'mii',
		'ness':'http://i.imgur.com/Au1yPpr.png',
		'olimar':'http://i.imgur.com/BHVKXSI.png',
		'pacman':'http://i.imgur.com/0Uee64Y.png',
		'palutena':'http://i.imgur.com/p0MmRME.png',
		'peach':'http://i.imgur.com/QR9zMJH.png',
		'pichu',
		'pikachu':'http://i.imgur.com/s9jVBIj.png',
		'pit':'http://i.imgur.com/nIFWN3e.png',
		'rob':'http://i.imgur.com/RUke4jQ.png',
		'robin':'http://i.imgur.com/1wJQWnn.png',
		'rosalina':'http://i.imgur.com/2M8vNOj.png',
		'roy',
		'samus':'http://i.imgur.com/MvdeKZO.png',
		'sheik':'http://i.imgur.com/TQa1vyE.png',
		'shulk':'http://i.imgur.com/yvC9dUw.png',
		'snake',
		'squirtle',
		'sonic':'http://i.imgur.com/dd7uiqO.png',
		'toon-link':'http://i.imgur.com/OatfTG3.png',
		'villager':'http://i.imgur.com/ttw0VUb.png',
		'wario':'http://i.imgur.com/qqT1qXA.png',
		'wii-fit-trainer':'http://i.imgur.com/gzNFSPv.png',
		'wolf',
		'yoshi':'http://i.imgur.com/OMmtBeC.png',
		'young-link',
		'zelda':'http://i.imgur.com/sdCoRJx.png',
		'zero-suit-samus':'http://i.imgur.com/X7UHAGe.png'
}

  	</script>
  </body>
</html>
