<span id="lplayer"></span>
<span>[<span id="lscore"></span>]</span>
 vs 
<span id="rplayer"></span>
<span>[<span id="rscore"></span>]</span>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io('/overlay');
	socket.on('connect', function() {
		socket.emit('request overlay');
		//socket.emit('join', { room: 'overlay' });
	});

	socket.on('update overlay', function(data) {
		document.getElementById('lplayer').innerText = data.lplayer || "";
		document.getElementById('rplayer').innerText = data.rplayer || "";
		//document.getElementById('title').value = data.title || "";
		document.getElementById('lscore').innerText = data.lscore || 0;
		document.getElementById('rscore').innerText = data.rscore || 0;

		if(data.lCharacter) {
          var leftIcon = document.createElement('img');
          leftIcon.id = 'leftCharacter';
          leftIcon.className = data.lCharacter;
          //src is required to remove the dumb border
          leftIcon.src = 'http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif';
          document.getElementById('lplayer').appendChild(leftIcon);
        }

        if(data.rCharacter) {
          var rightIcon = document.createElement('img');
          rightIcon.id = 'rightCharacter';
          rightIcon.className = data.rCharacter;
          //src is required to remove the dumb border
          rightIcon.src = 'http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif';
          document.getElementById('rplayer').appendChild(rightIcon);
        }
	});
</script>