<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/arcadian/game16by9.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/overlays/characters.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	<div id="container">
  		<div id="title" class="playertext"></div>
  		<div id="lscore" class="playertext"></div>
  		<div id="lplayer" class="playertext"></div>
  		<div id="rplayer" class="playertext"></div>
  		<div id="rscore" class="playertext"></div>

      <img id="leftCharacter" style="zoom: 125%" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif">
      <img id="rightCharacter" style="zoom: 125%" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif">
  	</div>
    <script>
    $(function () {

      var socket = io('/overlay');

      socket.on('update overlay', function(data) {
        document.getElementById('title').innerText = data.title || '';
        document.getElementById('lplayer').innerText = data.lplayer || '';
        document.getElementById('rplayer').innerText = data.rplayer || '';
        document.getElementById('lscore').innerText = data.lscore || '';
        document.getElementById('rscore').innerText = data.rscore || '';

        if(data.lCharacter) {
          document.getElementById('leftCharacter').className = data.lCharacter;
        }
        else {
          document.getElementById('leftCharacter').className = null;
        }

        if(data.rCharacter) {
          document.getElementById('rightCharacter').className = data.rCharacter;
        }
        else {
          document.getElementById('rightCharacter').className = null;
        }
      });
      
      function createNameChangeEventListener(jQuerySelector) {
        var element = $(jQuerySelector);
        element.bind('newName', function(e, newText){
            $(this).animate({'opacity': '0', 'margin-left': '-1%'}, 350, function() {
                $(this).text(newText);
              }).animate({'opacity': '1', 'margin-left': '0'}, 350);

             scaleFont(element, newText.length);
          });
      }

      createNameChangeEventListener('#lplayer');
      createNameChangeEventListener('#rplayer');

      $('.playertext').bind('textChanged', function(e, newText){
        $(this).animate({'opacity': '0', 'margin-left': '-1%'}, 350, function() {
            $(this).text(newText);
          }).animate({'opacity': '1', 'margin-left': '0'}, 350);
      });

    });
    </script>
  </body>
</html>
