<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/pardonthesmash/overlay.css' />
    <script src="/javascripts/overlays/pardonthesmash/timer.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	<div id="container">
  		<div id="timer"></div>
  	</div>
    <script>
		var socket = io();
    var endTime;
    var timerTimeout;
		
		socket.on('connect', function() {
			socket.emit('request timer pts');
		});
		
		socket.on('start timer pts', function(data) {
      endTime = data.endTime;
      clearTimer();
      updateTimer();
		});

    function clearTimer() {
      clearTimeout(timerTimeout);
    }

    function updateTimer() {
      var time = timeLeft(endTime);
      document.getElementById('timer').innerText = formatTime(time);
      if (time.minutes !== 0 || time.seconds !== 0) {
        timerTimeout = setTimeout(updateTimer, 1000);
      }
    }
    </script>
  </body>
</html>
