<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/overlays/pardonthesmash/overlay.css' />
    <script src="/javascripts/overlays/pardonthesmash/timer.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	<div id="container">
  		<div id="timer"></div>
      <div id="sidebar-container">
        <div class="topic">
        </div>
      </div>
      <div id="mainbar"></div>
  	</div>
    <script>
		var socket = io();
    var endTime;
    var timerTimeout;
    var topics;
		
		socket.on('connect', function() {
			socket.emit('request timer pts');
      socket.emit('request topics pts');
		});
		
		socket.on('start timer pts', function(data) {
      if (data.endTime) {
        endTime = data.endTime;
        clearTimer();
        updateTimer();
      }
		});

    socket.on('update topics pts', function(data) {
      if (data.length !== 0) {
        renderTopics(data);
      }
    });

    function clearTimer() {
      clearTimeout(timerTimeout);
    }

    function updateTimer() {
      var time = timeLeft(endTime);
      document.getElementById('timer').innerText = formatTime(time);
      if (time.minutes !== 0 || time.seconds !== 0) {
        timerTimeout = setTimeout(updateTimer, 1000);
      }
    }

    function renderTopics(data) {
      topics = data;
      var container = document.getElementById('sidebar-container');
      var mainbar = document.getElementById('mainbar');
      var template = container.children[0];
      container.innerHTML = "";
      for (var i = 0; i < topics.length; i++) {
        var newTopic = template.cloneNode(true);
        var topicData = topics[i];
        newTopic.innerText = topicData.sidebar;
        container.appendChild(newTopic);
        if (topicData.active) {
          mainbar.innerText = topicData.mainbar;
        }
      }
    }
    </script>
  </body>
</html>
