.stock-icon {
	width: 20px;
	height: 20px;
}

/*Smash 4 Icons*/
.bowser {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -0px 20px;
}

.bowser-jr {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -20px 20px;
}

.captain-falcon {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -40px 20px;
}

.charizard {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -60px 20px;
}

.dark-pit {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -80px 20px;
}

.king-dedede {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -100px 20px;
}

.diddy-kong {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -120px 20px;
}

.donkey-kong {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -140px 20px;
}

.dr-mario {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -160px 20px;
}

.duck-hunt-dog {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -180px 20px;
}

.falco {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -200px 20px;
}

.fox {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -220px 20px;
}

.ganondorf {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -240px 20px;
}

.mr-game-and-watch {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -260px 20px;
}

.greninja {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -280px 20px;
}

.ike {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -300px 20px;
}

.jigglypuff {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -320px 20px;
}

.kirby {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -340px 20px;
}

.link {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -360px 20px;
}

.little-mac {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -380px 20px;
}

.lucario {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -400px 20px;
}

.lucina {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -420px 20px;
}

.luigi {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -440px 20px;
}

.mario {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -460px 20px;
}

.marth {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -480px 20px;
}

.megaman {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -500px 20px;
}

.metaknight {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -520px 20px;
}

.mii {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -540px 20px;
}

.ness {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -560px 20px;
}

.olimar {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -580px 20px;
}

.pacman {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -600px 20px;
}

.palutena {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -620px 20px;
}

.peach {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -640px 20px;
}

.pikachu {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -660px 20px;
}

.pit {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -680px 20px;
}

.rob {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -700px 20px;
}

.robin {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -720px 20px;
}

.rosalina {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -740px 20px;
}

.samus {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -760px 20px;
}

.sheik {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -780px 20px;
}

.shulk {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -800px 20px;
}

.sonic {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -820px 20px;
}

.toon-link {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -840px 20px;
}

.villager {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -860px 20px;
}

.wario {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -880px 20px;
}

.wii-fit-trainer {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -900px 20px;
}

.yoshi {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -920px 20px;
}

.zelda {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -940px 20px;
}

.zero-suit-samus {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -960px 20px;
}
/*Characters not in Smash 4 as of Jan 8th, 
Project M: Mewtwo, Ice Climbers, Roy, Wolf, Snake, Squirtle, Ivysaur, Lucas
Melee Only: Pichu, Young Link*/

.mewtwo {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -800px 80px;
}

.ice-climbers {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -520px 80px;
}

.roy {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -780px 80px;
}

.wolf {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -700px 80px;
}

.snake {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -600px 80px;
}

.squirtle {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -640px 80px;
}

.ivysaur {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -220px 80px;
}

.lucas {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -320px 80px;
}

.pichu {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -340px 20px;
}

.young-link {
	width: 20px;
	height: 20px;
	background: url(http://i.imgur.com/UpasL5q.png) -480px 20px;
}