body {
	margin: 0px;
}

a {
	color: #00B7FF;
}

#container {
	width: 1920px;
	height: 1080px;
	background: url(http://i.imgur.com/LlPja7O.png);
	position: absolute;
}

.twitter-icon {
    width: 48px;
    height: 48px;
    background: url(http://i.imgur.com/RGl4CvZ.png);
    display: inline-block;
    vertical-align: text-top;
    margin-right: -10px;
}

.playertext {	
	color: white;
	font-family: Arial, sans-serif;
	overflow: hidden;
	overflow-wrap: break-word;
}

#commentators {
	top: 850px;
	left: 100px;
	height: 50px;
	width: 800px;
	text-align: center;
	font-size: 48px;
    position: absolute;
}

#twittercontainer {
	top: 963px;
	left: 84px;
	height: 50px;
	width: 800px;
	text-align: center;
	font-size: 36px;
    position: absolute;
}

.twitter{
    display: inline-block;
    vertical-align: text-top;
}

#twittercontainer2 {
	top: 963px;
	right: 112px;
	height: 50px;
	width: 800px;
	text-align: center;
	font-size: 36px;
    position: absolute;
}


#commentators2 {
	top: 850px;
	right: 100px;
	height: 50px;
	width: 800px;
	text-align: center;
	font-size: 48px;
    position: absolute;
}