#container {
	width: 1920px;
	height: 1080px;
	background: url(http://i.imgur.com/tlhS4vA.png);
	position: relative;
	overflow: hidden;
}

#title-container {
	width: 550px;

	position: absolute;
	top: 50px;
	right: 0;
}
	#title-container .title {
		letter-spacing: 3px;
	}

	#title-container hr {
		height: 2px;

		background-color: white;
		border-color: white;
		margin-top: -2px;
		margin-bottom: 2px;
	}

	#title-container .game {
		font-size: 20px;
		letter-spacing: 1px;
	}

body {
	margin: 0px;
	position: absolute;
	color: white;
	font-size: 42px;
	font-family: 'Oswald', cursive;
	text-shadow: 2px 2px 2px rgb(50, 50, 50);

	/* Oswald sits a little low, so raise the baseline */
	margin-top: -5px;

	overflow: hidden;
	overflow-wrap: break-word;
}

.text {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#columnContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.column {
	width: 25%;
	height: 100%;
	position: relative;
}

.matchContainer {
	width: 360px;

	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
	.matchContainer .title {
		position: absolute;
		top: -39px;
		font-size: 24px;
		letter-spacing: 1px;
	}

	.playerContainer {
		width: 320px;
		height: 60px;

		display: flex;
		font-size: 34px;
		line-height: 60px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: rgba(40, 68, 104, 0.8);
		border: 2px solid white;
		border-right: 0px;
	}
		.playerContainer .player {
			width: 90%;
			overflow: hidden;
		}

		.playerContainer .score {
			width: 10%;
			position: relative;
			text-align: center;
		}

		.playerContainer .score:after {
			-webkit-clip-path: polygon(
				0% 0%, 3px 0%, 100% 50%, 3px 100%, 0% 100%, 31px 50%, 0% 0%
			);

			width: 34px;
			height: 64px;
			content: '';
			position: absolute;
		  right: -47px;
			top: -2px;
			background-color: white;
		}

		.playerContainer .accents {
			width: 100%;
			height: 100%;

			position: absolute;
			left: 0;
		}

		.playerContainer .accents:before {
			background: -webkit-gradient(
				linear, left top, left bottom,
				color-stop(0%,#aebcbf), color-stop(40%,#1a5d94), color-stop(60%,#082d63), color-stop(100%,#080D63)
			);

			height: 60px;
		  width: 10px;
		  position: absolute;
		  left: 2px;
		  content: '';
		}

		.playerContainer .accents:after {
			-webkit-clip-path: polygon(
				0% 0%, 15px 0%, 100% 50%, 15px 100%, 0% 100%, 29px 50%, 0% 0%
			);

			background: -webkit-gradient(
				linear, left top, left bottom,
				color-stop(0%,#aebcbf), color-stop(48%,#1a5d94), color-stop(52%,#082d63), color-stop(100%,#080D63)
			);

			width: 44px;
			height: 60px;
			content: '';
			position: absolute;
		  right: -15px;
			z-index: 1;
		}

	.playerContainer:first-child {
		margin-bottom: 10px;
	}

	.playerContainer:after {
			position: absolute;
		  right: -22px;
		  content: '';
		  border-top: solid 30px transparent;
		  border-left: solid 30px rgba(40, 68, 104, 0.8);
		  border-bottom: solid 30px transparent;
	}

	.lineContainer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -110px;
		margin: auto;
	}

	.line {
		height: 3px;
		width: 50px;

		position: absolute;

		background-color: white;
		border-color: white;
	}
		.line.top {
			top: 0;
			left: 0;
		}

		.line.middle {
			top: 50%;
			right: 0;
		}

		.line.bottom {
			bottom: 0;
			left: 0;
		}

		.line.vertical {
			width: 3px;
			left: 50%;
		}

	.lineContainer.twoPrev {
		height: 195px;
		width: 100px;
	}
		.twoPrev .vertical {
			height: 100%;
		}

	.lineContainer.onePrevDown {
		height: 140px;
		width: 100px;
	}
		.onePrevDown .vertical {
			height: 50%;
			bottom: 0;
		}

	.lineContainer.onePrevUp {
		height: 140px;
		width: 100px;
	}
		.onePrevUp .vertical {
			height: 50%;
			top: 0;
		}
	/* Column 1 */
	#winners-semis-1 {
		top: 130px;
	}

	#winners-semis-2 {
		top: 325px;
	}

	#losers-1 {
		top: 605px;
	}

	#losers-2 {
		top: 800px;
	}

	/* Column 2 */
	#winners-finals {
		top: 227.5px;
	}

	#losers-quarters-1 {
		top: 535px;
	}

	#losers-quarters-2 {
		top: 730px;
	}

	/* Column 3 */
	#grand-finals {
		top: 297.5px;
	}

	#losers-semis {
		top: 632.5px;
	}

	/* Column 4 */
	#grand-finals-reset {
		top: 227.5px;

		display: none;
	}

	#losers-finals {
		top: 562.5px;
	}