#container {
	width: 1920px;
	height: 1080px;
	background: url(http://i.imgur.com/tlhS4vA.png);
	position: relative;
	overflow: hidden;
}

body {
	margin: 0px;
	position: absolute;
	color: white;
	font-size: 42px;
	font-family: 'Oswald', cursive;
	text-shadow: 2px 2px 2px rgb(50, 50, 50);

	/* Oswald sits a little low, so raise the baseline */
	margin-top: -5px;

	overflow: hidden;
	overflow-wrap: break-word;
}

.text {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#columnContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.column {
	width: 25%;
	height: 100%;
	position: relative;
	background-color: green;
}

.match {
	width: 350px;
	height: 150px;
	
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	
	background-color: red;
}
	.player {
		width: 330px;
		height: 60px;
		
		margin: 10px;
		font-size: 26px;
		background-color: blue;
	}

	/* Column 1 */
	#winners-semis-1 {
		top: 150px;
	}
	
	#winners-semis-2 {
		top: 250px;
	}
	
	#losers-1 {
		bottom: 2px;
	}
	
	#losers-2 {
		bottom: 150px;
	}
	
	/* Column 2 */
	#winners-finals {
		top: 300px;
	}
	
	#losers-quarters-1 {
		top: 500px;
	}
	
	#losers-quarters-2 {
		top: 700px;
	}
	
	/* Column 3 */
	#grand-finals {
		top: 400px;
	}
	
	#losers-semis {
		top: 800px;
	}
	
	/* Column 4 */
	#grand-finals-reset {
		top: 600px;
		
		/*display: none;*/
	}
	
	#losers-finals {
		top: 800px;
	}