.stock-icon {
	width: 20px;
	height: 20px;
}

/*Smash Melee Icons*/
.bowser {
	background: url(http://i.imgur.com/Xc5TYpa.png);
}

.captain-falcon {
	background: url(http://i.imgur.com/fcaKRdi.png);
}

.donkey-kong {
	background: url(http://i.imgur.com/2hdsXlA.png);
}

.dr-mario {
	background: url(http://i.imgur.com/okOuokD.png);
}

.falco {
	background: url(http://i.imgur.com/dbyctg5.png);
}

.fox {
	background: url(http://i.imgur.com/e6iqFph.png);
}

.ganondorf {
	background: url(http://i.imgur.com/l9xQfyT.png);
}

.mr-game-and-watch {
	background: url(http://i.imgur.com/Hi7BeL2.png);
}

.jigglypuff {
	background: url(http://i.imgur.com/AzFEkw2.png);
}

.kirby {
	background: url(http://i.imgur.com/D2834pg.png);
}

.link {
	background: url(http://i.imgur.com/xiPI350.png);
}

.luigi {
	background: url(http://i.imgur.com/wLYWBU1.png);
}

.mario {
	background: url(http://i.imgur.com/LpFs9JM.png);
}

.marth {
	background: url(http://i.imgur.com/HJT5ZTS.png);
}

.ness {
	background: url(http://i.imgur.com/NMg9v5g.png);
}

.peach {
	background: url(http://i.imgur.com/fFLSjd8.png);
}

.pikachu {
	background: url(http://i.imgur.com/dnsc3eq.png);
}

.samus {
	background: url(http://i.imgur.com/Yd9DP9r.png);
}

.sheik {
	background: url(http://i.imgur.com/0TAZZIy.png);
}

.yoshi {
	background: url(http://i.imgur.com/8fymQC8.png);
}

.zelda {
	background: url(http://i.imgur.com/ep3jLk4.png);
}

.mewtwo {
	background: url(http://i.imgur.com/EptQntr.png);
}

.ice-climbers {
	background: url(http://i.imgur.com/iHFuxww.png);
}

.roy {
	background: url(http://i.imgur.com/dQqG9Ai.png);
}

.pichu {
	background: url(http://i.imgur.com/JEZXgZK.png);
}

.young-link {
	background: url(http://i.imgur.com/kLLb3Vf.png);
}